<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Fruit Catcher Game.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8A7EE10D1CF6876100D70C57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A7EE1251CF6876100D70C57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A7EE1301CF6876100D70C57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
